<div class = 'container'>

  <h1>BURGERSSSS!!!</h1>
  <h4>eat a burger...<strong>EAT IT!!!</strong></h2>
  <br>

  <div class = 'row'>
    <div class = 'col-md-6'>
      <h2>Burgers in your tummy</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>
              <button class="btn btn-warning devour-switch" data-id="{{id}}" data-devoured="{{devoured}}">
                {{#if devoured}} Barf it up!
                  {{else}} Devour it!
                {{/if}}
              </button>
              <strong>{{burger_name}}</strong>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class = 'col-md-6'>
      <h2>Burgers on a plate</h2>
      <ul> 
        {{#each burgers}}
          {{#unless devoured}}
            <li>
              <button class="btn btn-warning devour-switch" data-id="{{id}}" data-devoured="{{devoured}}">
                {{#if devoured}} Barf it up!
                  {{else}} Devour it!
                {{/if}}
              </button>
              <strong>{{burger_name}}</strong>
              </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

<br>
<div class = 'row'>
  <div class = 'col-md'>
    <h3>Create a burger...<strong>HERE!!!</strong></h3>
    <form class = "burger-form">
      <div class = "form-group">
        <label for="new-burger">New Burger Name:</label>
        <textarea class = "form-control" id = "new-burger" rows = "3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
  
</div>
